body
{
    background: #112266;
    color: white;
    font-family: helvetica;
    font-weight: 750;
}

#Title
{
    margin-top: 100px;
    text-align: center;
}
a:active, :visited 
{
    color: white;
}

.links
{
    margin-top: 100px;
    text-align: center;
}