body
{
    background: #333333;
    color: white;
    font-family: helvetica;
    font-weight: 750;
}

a:active, :visited
{
    color: #000000;
}

.links
{
    margin-top: 100px;
    text-align: center;
}
